<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="code-name">
    <!-- Modal -->
    <div class="modal fade" id="codeNameModal" tabindex="-1" role="dialog" aria-labelledby="codeNameModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="codeNameModalLabel">Your Code-Name?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="codename-inline" placeholder="Code-Name/Username">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="code-name-submit">Save Code-Name</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>